# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment files
.env
.venv/
env/
venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# IDE/editor folders and files
.vscode/
.idea/
*.swp
*.swo

# Logs and databases
*.log
*.sqlite3

# Mac OS files
.DS_Store
